<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> ABDOMINALES
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            Los abdominales son un grupo de músculos ubicados en la parte
            frontal del abdomen y son responsables de varios movimientos, como
            la flexión de la columna vertebral y la estabilización del tronco.
            Es uno de los grupos musculares que más aporta a la estética, ya que
            tenerlos a la vista representan un buen porcentaje graso y salud,
            aunque en este sitio preferimos pesar por lo menos 10kg por encima
            de tu peso ideal antes que tener abdominales. Es muy importante
            entrenar este músculo debido a que los ejercicios que requieran
            estar de pie necesitan de fuerza en el abdomen para mantener la
            estabilidad, como por ejemplo el peso muerto y el curl con barra.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Crunch Lateral Colgado</h2>
          <p>
            Pongo primero este ejercicio debido a que es el más completo de
            todos para el desarrollo del abdomen involucrando en gran medida los
            oblicuos. Es un ejercicio díficil debido a que requiere de un buen
            agarre debido a que debemos colgar de una barra. Si puedes hacerlo
            no dudes en agregarlo a tu rutina aunque sea 2 o 3 veces a la
            semana. Si solo quieres hacer un ejercicio de abdomen, haz este pero
            agregandole una elevación convencional en medio de cada repetición.
          </p>
          <img src="ejercicios-img/crunch-de-oblicuos-con-piernas.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Cuelga de una barra de dominadas con un agarre por encima de la
            cabeza y las piernas juntas y extendidas hacia abajo.<br />
            2. Lleva las piernas hacia un lado, flexionando el torso
            lateralmente para tocar el codo correspondiente con la rodilla.
            <br />
            3. Contrae los oblicuos y los abdominales para levantar las piernas
            y acercarlas al codo lateral.
            <br />
            4. Mantén la contracción en la posición más alta del movimiento.
            <br />
            5. Baja las piernas de manera controlada hacia el centro.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer el número máximo
            de repeticiones que puedas, de forma lenta y controlada.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Crunch en Polea</h2>
          <p>
            El mejor ejercicio sin duda alguna para el abdomen alto. El Crunch
            en Polea te permite agregar peso y esta es la razón de porque es de
            los mejores ejercicios para los abdominales en general, debido a que
            esto significa que permite hacer sobrecarga progresiva y no debes
            hacer 50 repeticiones en 10 variantes distintas de abdominales por
            10 minutos para poder estimular y sobrecargar el músculo, ya que
            puedes simplemente agregarle el peso máximo que te permita realizar
            el rango de repeticiones deseado y asi poder romper las fibras y por
            lo tanto hipertrofiar el abdomen sin perder el tiempo.
          </p>

          <img src="ejercicios-img/crunch-polea.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ponte de rodillas frente a la máquina y agarra la cuerda con
            ambas manos.
            <br />
            2. Contrae los abdominales y flexiona tu torso hacia abajo, llevando
            la cabeza y los hombros hacia las caderas.
            <br />
            3. Mantén la concentración en la contracción abdominal en la
            posición más baja del movimiento.
            <br />
            4. Regresa lentamente a la posición inicial, manteniendo la
            resistencia en los abdominales.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo realizar este ejercicio
            al final de tu rutina de abdominales, después de realizar los otros
            2 ejercicios de la lista. Hazlo en un rango de 8 a 12 repeticiones,
            puedes hacer un drop set en la última serie.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Elevaciones de Pierna Colgado</h2>
          <p>
            Al igual que los demás ejercicios este es el mejor en su campo sin
            duda. Las Elevaciones de Pierna Colgado, de una barra por supuesto,
            es el mejor ejercicio para trabajar la parte inferior del abdomen
            que es la parte más dificil de revelar en el abdomen, con revelar me
            refiero a que es necesita un muy buen estado físicio y porcentaje de
            grasa óptimo para que el músculo sea visible. Este ejercicio no es
            para principiantes, al igual que el primer ejercicio de la lista
            debido a lo ya mencionado en este último.
          </p>
          <img src="ejercicios-img/elev-de-piernas.webp" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Agárrate de una barra de dominadas con las palmas hacia afuera y
            los brazos extendidos.<br />
            2. Levanta las piernas del suelo flexionando las caderas y las
            rodillas ligeramente.
            <br />
            3. Contrae los abdominales y eleva lentamente las piernas hacia
            arriba, manteniendo las rodillas rectas.
            <br />
            4. Continúa elevando las piernas hasta que estén paralelas al suelo
            o lo más alto posible sin balancearte excesivamente.
            <br />
            5. Contrae fuertemente los abdominales en la posición más alta del
            movimiento.
            <br />
            6. Baja las piernas lentamente a la posición inicial, evitando el
            balanceo excesivo.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo realizar este ejercicio
            primero, en tu rutina de abdominales. Haz la mayor cantidad de
            repeticiones que puedes, si no puedes hacer mas de 5 repeticiones
            con las piernas extendidas, prueba levantar solamente las rodillas
            para poder hacer unas 10 aproximadamente, en cambio si puedes hacer
            muchas repeticiones normals, prueba agregarle dificultad elevando
            las piernas hasta la altura de la cabeza dejando ver los glúteos.
          </p>
        </div>
      </div>
    </div>

    <footer
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 gx-0"
      id="footer"
    >
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
