<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> ANTEBRAZOS
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            El antebrazo es una región anatómica que abarca desde el codo hasta
            la muñeca, y contiene múltiples músculos que desempeñan roles
            importantes en la movilidad y la funcionalidad de la mano, la muñeca
            y el codo. Aunque a menudo se pasa por alto en comparación con otros
            grupos musculares más grandes, el antebrazo es esencial para una
            variedad de actividades diarias y deportivas que implican agarre,
            levantamiento y manipulación de objetos. Este músculo es bastante
            estimulado en ejercicios como peso muerto y demás ejercicios de
            espalda y bíceps.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl Invertido</h2>
          <p>
            Esta variante del curl esta enfocada principalmente en los músculos
            del antebrazo. Es un ejercicio que trabaja la intersección entre
            ambas apartes del brazo al enfocarse en los braquiales y
            braquioradiales. Si bien el nombre del ejercicio involucra "curl",
            este estimula poco y nada los bíceps. El Curl Invertido consiste en
            hacer un curl con las palmas de la manos mirando hacia abajo, puedes
            hacerlo con mancuernas o con una "Barra Z". Haz este ejercicio si
            quieres tener un brazo y antebrazo más grueso y fuerte.
          </p>
          <img src="ejercicios-img/curl-invertido.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Prepara una Barra Z con un agarre supino, o unas mancuernas con
            las palmas hacia abajo, con las manos separadas a una distancia
            ligeramente menor que la anchura de los hombros.<br />
            2. Mantén una postura erguida, con los hombros hacia atrás y el
            abdomen contraído.
            <br />
            3. Flexiona los codos y levanta la barra hacia los hombros,
            manteniendo los brazos pegados al cuerpo<br />
            4. Concéntrate en contraer los músculos del antebrazo, especialmente
            el braquiorradial.<br />
            5. Alcanza la posición más alta del movimiento sin girar las muñecas
            y haz una breve pausa.
            <br />
            6. Baja la barra lentamente a la posición inicial, manteniendo el
            control del movimiento.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            final de tu rutina de bíceps o de pull, y al principio de tu rutina
            de antebrazo (si es que quieres agregarlo a tu rutina).
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl de Muñeca con Agarre Supino</h2>
          <p>
            Este ejercicio es el mejor de todos, a nuestro conocimiento, para
            desarrollar el antebrazo. A diferencia del ejercio anterior, este
            involucra solamente los músculos del antebrazo, especificamente los
            flexores el cual es el músculo más grande de la zona. Consiste en
            hacer un movimiento de flexión con la muñeca con las palmas hacia
            arriba. Lo puedes hacer con barra, con mancuerna, sentado, parado,
            de lado, de frente.. Hay muchas formas de realizarlo, yo te
            recomiendo realizarlo con una barra y sentado como se ve en la
            imagen.
          </p>

          <img src="ejercicios-img/curl-muñ-palmasarriba.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate con la espalda recta y los antebrazos apoyados sobre tus
            muslos.<br />
            2. Sostén una barra o mancuerna en cada mano, con las palmas hacia
            arriba (agarre supino) y separadas a la anchura de los hombros.<br />
            3. Flexiona las muñecas hacia arriba, manteniendo los antebrazos
            estables. <br />
            4. Contrae los músculos flexores del antebrazo en la posición más
            alta. <br />
            5. Desciende las manos de manera controlada a la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer primero este
            ejercicio en tu rutina de antebrazo si no vas a hacer el ejercicio
            anterior. Mantén los antebrazos estables durante todo el ejercicio y
            evita mover los codos o los hombros. Realizar en un rango de 10 a 12
            repeticiones.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl de Muñeca con Agarre Prono</h2>
          <p>
            El curl de muñeca con agarre prono es un ejercicio que se dirige
            principalmente a los músculos extensores del antebrazo,
            especialmente el extensor radial largo del carpo y el extensor
            radial corto del carpo. Es un buen ejercicio para el desarrollo del
            antebrazo.
          </p>
          <img src="ejercicios-img/curl-muñ-palmasabajo.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate con la espalda recta y los antebrazos apoyados sobre tus
            muslos, con las palmas hacia abajo.<br />
            2. Sostén una barra o mancuerna con un peso adecuado en cada mano,
            con las manos separadas a la anchura de los hombros.<br />
            3. Flexiona las muñecas hacia arriba, manteniendo los antebrazos
            estables.<br />
            4. Contrae los músculos extensores del antebrazo en la posición más
            alta. <br />
            5. Desciende las manos de manera controlada a la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo obviar este ejercicio
            hasta el final de tu rutina de antebrazo. Realizar en un rango de 10
            a 12 repeticiones.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>Colgar de la Barra</h2>
          <p>
            Este ejercicio implica colgarse de una barra con los brazos
            completamente extendidos y el cuerpo suspendido en el aire. Aunque
            parece simple, colgar de la barra es un ejercicio efectivo para
            fortalecer los músculos de la espalda, los hombros, los brazos y el
            agarre. Principalmente trabaja el agarre, lo cuál es función del
            antebrazo.
          </p>
          <img src="ejercicios-img/Estiramiento-en-suspension.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Agárrate de la barra con los brazos completamente extendidos.<br />
            2. Mantén los hombros relajados y la columna alineada.<br />
            3. Respira profundamente y mantén la posición durante el tiempo
            deseado.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer simpre este
            ejercicio al final de tus rutinas de Pull y de Pierna, como
            estiramiento.
          </p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
