<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> BÍCEPS
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            El bíceps, también conocido como bíceps braquial, es un músculo
            situado en la parte frontal del brazo y es uno de los músculos más
            visibles y conocidos del cuerpo humano. El bíceps consta de dos
            cabezas principales: la cabeza larga y la cabeza corta (En esta
            lista también incluiremos ejercicios para los braquiales). Este
            músculo se activa en una variedad de movimientos cotidianos que
            implican levantar objetos . Además, es un músculo crucial en el
            entrenamiento de fuerza para el desarrollo de los brazos.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl con Barra</h2>
          <p>
            Un clásico, el curl con barra es como el press banca de los bíceps
            en el que puedes agregar peso extra, este ejercicio es infalible
            para el desarrollo del bíceps braquial. Te recomiendo realizarlo con
            una "Barra Z", también puedes realizarlo con mancuernas "Curl con
            Mancuernas" para trabajar de forma unilateral aunque esto restará el
            peso que puedas levantar.
          </p>

          <img src="ejercicios-img/curl-barra.png" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. De pie, agarra la barra con las palmas hacia arriba, separadas al
            ancho de los hombros.<br />
            2. Flexiona los codos para levantar la barra hacia los hombros,
            manteniendo los codos pegados al cuerpo.<br />
            3. Flexiona los codos para levantar la barra hacia los hombros,
            manteniendo los codos pegados al cuerpo.<br />
            4. Baja la barra lentamente a la posición inicial, extendiendo los
            codos pero manteniendo el control.<br />
            5. Intenta hacer el rango completo de movimiento y mantener una
            postura recta sin balanceos.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo empezar tus series
            apoyando la espalda en la pared para evitar balancearte, bien
            pesado, realizando en un rango de 6 a 8 repeticiones y una vez
            llegado al fallo dejar de apoyarse en la pared y seguir, con un poco
            de trampa pero sin exagerar, hasta llegar al fallo nuevamente.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl Inclinado</h2>
          <p>
            Una variante del Curl de Bíceps realizado en un banco inclinado a
            45°, aproximadamente, pensado para un mayor estímulo en la cabeza
            larga del bíceps, que le da el pico o "altura" al bíceps, al llevar
            los brazos por detrás del cuerpo al realizar el ejercicio. Este al
            trabajarse al trabajarse con la espalda apoyada no permite trampas y
            enfoca el estímulo plenamente en los bíceps. Teniendo presente lo
            anterior mencionado, el curl inclinado es un ejercicio que no puede
            faltar en tu rutina, y para mí, aún más indispensable que el curl
            con barra.
          </p>
          <img src="ejercicios-img/curl-inclinado.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate en el banco inclinado a 45° aprox. con la espalda
            apoyada y sostén una mancuerna en cada mano.<br />
            2. Flexiona los codos para levantar las mancuernas hacia los
            hombros, manteniendo los codos y los brazos pegados al cuerpo.<br />
            3. Concéntrate en la contracción de los bíceps en la parte superior
            del movimiento.<br />
            4. Haz una breve pausa en la posición alta antes de bajar las
            mancuernas lentamente a la posición inicial.<br />
            5. Vuelve a la posición inicial de forma controlada<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer un dropset al
            igual que en el ejercicio anterior de la lista, que consistiría en
            una vez llegado al fallo ponerte de pie asi poder hacer mas
            repeticiones y llegar al fallo nuevamente. Yo haría este ejercicio
            de bíceps primero, o segundo despues de hacer el ejercicio a
            continuación de este, en vez del curl con barra, ya que considero
            este ejercicio ampliamente superior.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Dominadas con Agarre Supino</h2>
          <p>
            Este ejercicio es una variante de las dominadas enfocado en los
            músculos del bíceps debido al agarre supino que se enfoca más el
            músculo en cuestión. Las Dominadas con Agarre Supino (Tambíen puedes
            hacer un jalón al pecho con agarre supino, es practicamente lo
            mismo) es el mejor ejercicio para los bíceps debido a su naturaleza
            que ocupa rango completo de movimiento, no tengo pruebas pero
            tampoco dudas. Enrealidad si tengo pruebas, varios estudios
            científicos corroboran lo anterior mencionado. Por todo esto lo
            considero un ejercicio que deberías incluir si o si en tu rutina de
            bíceps como base.
          </p>
          <img src="ejercicios-img/dominada-sup.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Agarra la barra con las palmas hacia ti y separadas a la anchura
            de los hombros.
            <br />
            2. Cuelga de la barra con los brazos extendidos y el cuerpo
            recto.<br />
            3. Tira del cuerpo hacia arriba, levantando la barbilla hacia la
            barra.<br />
            4. Sube hasta que tu barbilla esté por encima de la barra. <br />
            5. Desciende controladamente hasta que los brazos estén extendidos y
            repite. <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            principio de tu rutina de bíceps, en un rango 8 a 10 repeticiones,
            si puedes hacer 15 de forma fácil sumale peso. Si lo haces en
            máquina, lo mismo, usa un peso que te permita hacer máximo de 8 a 10
            repeteciones controladas.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl Martillo</h2>
          <p>
            Esta variante bien conocida de Curl, esta pensada para estimular
            principalmente el braquial, un músculo muy importante para el tamaño
            del brazo. Consiste en un curl de bíceps tradicional con un agarre
            Neutro, te recomiendo realizarlo con mancuernas para más comodidad
            pero lo puedes realizar tambien con una "Barra Romana". Lo considero
            un ejercicio infaltable en tu rutina de bíceps.
          </p>
          <img src="ejercicios-img/curl-martillo.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Comienza de pie con una mancuerna en cada mano, con las palmas
            mirándose entre sí (agarre de martillo).<br />
            2. Mantén una postura erguida y separa los pies a la anchura de los
            hombros.<br />
            3. Flexiona los codos y levanta las mancuernas hacia los hombros.
            <br />
            4. Concéntrate en contraer los músculos de los bíceps y los músculos
            del antebrazo.<br />
            5. Alcanza la posición más alta sin girar las muñecas y haz una
            breve pausa.<br />
            6. Desciende las mancuernas controladamente a la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo acomódalo al final de
            tu rutina preferiblemente a menos que necesites enforcarte en el
            braquial debido a alguna descompensación muscular por ejemplo.
            Realizar en un rango de 8 a 12 repeticiones, pesado.
          </p>
        </div>
      </div>
    </div>

    <footer
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 gx-0"
      id="footer"
    >
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
