<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> CUÁDRICEPS
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            Los cuádriceps son el grupo muscular más grande y más fuerte del
            cuerpo humano, ubicado en la parte frontal del muslo y son los
            principales extensores de la rodilla. Están formados por cuatro
            músculos principales: el recto femoral, el vasto lateral, el vasto
            medial y el vasto intermedio. Es mi músculo favorito y uno que
            aporta muchísimo a la estética del cuerpo humano. Los cuádriceps son
            fundamentales para muchas actividades diarias, como caminar, correr,
            subir escaleras y levantar objetos pesados. También son cruciales
            para la práctica de deportes que requieren movimientos explosivos de
            piernas.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Sentadilla Libre</h2>
          <p>
            El mejor ejercicio, de todos los ejercicios, de todos los músculos,
            de todos los tiempos (palabra del editor a cargo). La Sentadilla
            Libre, con peso obviamente, consiste simplemente en hacer una
            sentadilla normal en el suelo pero agregandole peso extra. Es un
            ejercicio que trabaja principalmente los cuádriceps pero también
            trabaja muy bien los glúteos y tambien los isquiotibiales. Este
            ejerciocio debe estar si o si en tu rutina de pierna, si puedes haz
            esta varieante, si se te dificulta o te incomoda debido a alguna
            complicacion anatomica puedes hacer prensa o en alguna máquina que
            se te acomode.
          </p>

          <img src="ejercicios-img/sentadilla-libre.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Coloca una barra cargada en el soporte a una altura que te
            permita levantarla cómodamente desde los hombros.<br />
            2. Haz retracción escapular y apoya la barra en tus trapecios.<br />
            3. Sujeta la barra con las manos un poco más anchas que la anchura
            de los hombros.<br />
            4. Flexiona las caderas y las rodillas para bajar el cuerpo,
            manteniendo la espalda recta y los talones en el suelo.<br />
            5. Activa los cuádriceps durante el descenso para controlar el
            movimiento. <br />
            6. Empuja a través de los talones para levantar el cuerpo de nuevo
            hacia arriba, extendiendo las caderas y las rodillas. <br />
            7. Inhala al estar arriba y manten la respiracion mientras bajas y
            al llegar al fondo, despues exhala de a poco mientras subes.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo comenzar con un peso
            ligero y aumentar gradualmente a medida que adquieras fuerza y
            confianza. Mantén siempre una buena técnica y evita cargar más peso
            del que puedas manejar correctamente. Haz un rango de 6 a 8
            repeticiones si eres experimentado y si eres principiante de 12 a 15
            para acostumbrarte a la técnica.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Sentadilla Hack</h2>
          <p>
            Esta variante de sentadilla es más enfocada en los cuádriceps. Es un
            gran ejercicio, si quieres trabajar los cuádriceps de forma más
            específica. Haz este ejercicio si por ejemplo ya haz hecho peso
            muerto con mucho peso para evitar sobrecargar demasiado la columna
            vertebral. No te recomiendo que hagas este ejercicio habiendo hecho
            ya sentadilla libre en el mismo día, a menos que tomes anabólicos o
            tengas una resistencia excepcional.
          </p>
          <img src="ejercicios-img/sentadillas-hack.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la máquina hack para que la plataforma esté en la posición
            más baja y cómoda para tus hombros y piernas.<br />
            2. Colócate de pie frente a la máquina con los hombros bajo los
            soportes acolchados y la espalda pegada a ellos. Los pies deben
            estar separados a la anchura de las caderas y colocados en la
            plataforma con los dedos de los pies ligeramente hacia afuera.<br />
            3. Sujeta las asas o barras laterales de la máquina con las manos
            para mantener la estabilidad durante el movimiento.<br />
            4. Flexiona las rodillas y las caderas para bajar el cuerpo hacia
            abajo, manteniendo la espalda recta y el pecho levantado. Desciende
            hasta que los muslos estén paralelos al suelo o incluso un poco más
            abajo si tienes la flexibilidad y la fuerza necesarias.<br />
            5. Durante el descenso, concéntrate en activar los músculos
            cuádriceps para controlar el movimiento y mantener la estabilidad en
            las rodillas. <br />
            6. Empuja a través de los talones y extiende las rodillas y las
            caderas para volver a la posición inicial. Mantén la espalda recta y
            evita inclinarte hacia adelante mientras te levantas.<br />
            <br />
            7. Exhala mientras subes y mantén la respiración estable durante el
            descenso. <br />
            <i class="bi bi-info-circle"></i> Recomiendo, primero que nada,
            evitar hacer egolifting en este ejercicio. Realiza en un rango de 8
            a 12 repeticiones, haz unas 15 reps si eres pirincipiante así te
            acostumbras al movimiento.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Extensión de Cuádriceps</h2>
          <p>
            Un ejercicio plenamente enfocado en el cuádriceps, a diferencia de
            los demás ejercicios de la lista. Ideal para hipertrofia, aunque no
            recomendado para principiantes, tampoco intermedios, debido a que es
            más de lo necesario para hipertrofiar y fortalecer el músculo. Haz
            este ejercicio al final de tu rutina de cuádriceps si eres avanzado
            o un intermedio que esta pasando por una ruptura amorosa.
          </p>
          <img src="ejercicios-img/ext-cuads.webp" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la máquina para que el cojín esté justo encima de tus
            tobillos y selecciona un peso adecuado.<br />
            2. Siéntate en la máquina con la espalda recta y los pies debajo del
            cojín acolchado.<br />
            3. Sujeta las asas laterales para mantener la estabilidad.
            <br />
            4. Exhala y extiende las piernas hacia arriba, enderezando las
            rodillas mientras mantienes el torso quieto.<br />
            5. Mantén la contracción en la parte superior del movimiento durante
            un segundo.<br />
            6. Inhala y baja lentamente el peso de regreso a la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo realizar este ejercicio
            al final de tu rutina de Cuádriceps o de pierna, como para rematar
            el músculo. Realizar en un rango de 8 a 12 repeticiones, si eres un
            psícopata y no te importa volver a casa en silla de ruedas puedes
            hacer un dropset o restpause en la ultima serie.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Zancadas</h2>
          <p>
            Este ejercicio es la mejor variantede sentadilla unilateral por
            encima de las estocadas y la sentadilla búlgara por varias razones,
            entre ellas su seguridad y su facilidad de realización. Al ser más
            segura evitas lesiones y dolores articulares, los cuales pueden ser
            extremadamente perjudiciales para tu desarrollo muscular. Este
            ejercicio, al ser "unilateral" es ideal para corregir
            descompensaciones entre un cuádriceps y el otro. Te recomiendo
            hacerlo con mancuernas para más estabilidad y seguridad.
          </p>
          <img src="ejercicios-img/zancadas.jpeg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Prepara el equipo adecuado, como pesas en ambas manos o una barra
            sobre los hombros.<br />
            2. Comienza de pie con los pies separados al ancho de los hombros y
            la espalda recta.<br />
            3. Da un paso adelante con una pierna, manteniendo la otra en su
            lugar.
            <br />
            4. Flexiona ambas rodillas para bajar el cuerpo hacia el suelo,
            manteniendo la espalda recta.<br />
            5. Baja hasta que el muslo delantero esté paralelo al suelo.<br />
            6. Empuja con el talón de la pierna delantera para volver a la
            posición inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo, como ya dije, hacer
            este ejercicio cuando necesites corregir descompensaciones entre un
            cuádriceps, sino simplemente haz sentadilla libre convencional.
            Realizar en un rango de 10 a 12 repeticiones.
          </p>
        </div>
      </div>
    </div>

    <footer
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 gx-0"
      id="footer"
    >
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
