<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> DORSALES
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            Los dorsales, o músculos dorsales, son un grupo muscular ubicado en
            la parte superior y media de la espalda, incluyendo el gran dorsal,
            el trapecio y el romboides. Son esenciales para movimientos como
            jalar, levantar y llevar los brazos hacia atrás y hacia el cuerpo.
            Fortalecer los dorsales es crucial para mantener una postura
            adecuada, prevenir lesiones y mejorar el rendimiento en actividades
            físicas. Literalmente todos los ejercicios en esta lista trabajan
            bastante bien los ya mencionados romboides y trapecios, por lo cual
            realizar ejercicios enfocados en estos últimos no es necesario en la
            mayoría de los casos si eres natural.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Jalón al Pecho</h2>
          <p>
            Empezamos la lista con uno de los 2 mejores ejercicios para los
            dorsales. El jalón al pecho imita el movimiento de una dominada pero
            con la posibilidad de ajustar el peso al adecuado para cada uno, a
            diferencia de las dominadas donde el peso minimo es nuestro peso
            corporal. Esto y sumado a que gasta menos enería y recluta solamente
            los musculos implicados lo convierte en un ejercicio indispensable
            para el desarrollo de la espalda. Puedes cambiar el tipo de agarre
            para enfocarte en distintos músculos, los más recomendados para la
            espalda son el agarre prono y neutro.
          </p>

          <img src="ejercicios-img/jalon-al-pecho.jpeg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Toma la barra con un agarre amplio, palmas hacia adelante. <br />
            2. Siéntate en posición erguida, con los pies planos en el suelo y
            las rodillas dobladas.
            <br />
            3. Tira de la barra hacia abajo, llevando los codos hacia tus
            costillas y manteniendo los hombros hacia abajo. <br />
            4. Contrae los músculos de la espalda y los hombros cuando la barra
            esté cerca de tu pecho. <br />
            5. Baja la barra manteniendo el control del movimiento. <br />
            6. Vuelve a la posicion inicial lentamente y manteniendo la postura.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo realizar en un rango de
            8 a 12 repeticiones y dejar este ejercicio como primero o segundo en
            tu rutina de espalda (o las dominadas, depende cual prefieras)
            alternado con Remo con Barra (u otro tipo de remo para dorsales)
            dependiendo tu objetivo, Si quieres amplitud y tener unas buenas
            alas realiza este ejercicio primero (o dominadas) y si quieres mas
            grosor y tener un buen caparazón haz primero el remo.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Remo con Barra</h2>
          <p>
            Uno de los mejores ejecicios para la espalda el Remo con Barra es
            indispensable en tu rutina de espalda, el cual debe realizarse en
            conjunto, antes o después de un jalón al pecho. Un ejercicio que
            debes hacer a máximo poder en el que puedes y debes levantar pesos
            exigentes para desarrollar grosor y tamaño en los músculos de tu
            espalda.
          </p>
          <img src="ejercicios-img/remo-con-barra.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Párate frente a la barra con los pies separados al ancho de los
            hombros. <br />
            2. Flexiona los brazos y agarra la barra con un agarre pronado
            ligeramente más ancho que los hombros. <br />
            3. Mantén la espalda recta, el pecho hacia afuera y los hombros
            hacia atrás. <br />
            4. Tira de la barra hacia arriba hacia tu abdomen, manteniendo los
            codos cerca del cuerpo.
            <br />
            5. Concéntrate en contraer los músculos de la espalda durante el
            movimiento. <br />
            6. Levanta la barra hasta que toque o esté cerca de tu abdomen,
            sintiendo una contracción máxima en los músculos de la espalda.
            <br />
            7. Mantén una respiración controlada, inhala al bajar la barra y
            exhala al levantarla.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo realizar en un rango de
            6 a 8 levantando el máximo peso posbile que nos permita llegar a ese
            número de reps y una vez llegado al fallo técnico realizar 3 o 4
            repeticiones más con trampa(sin exagerar y bajando lo más controlado
            posible). Como dije en el ejercicio anterior,- alternar este
            ejercicio con el jalón al pecho o dominadas dependiendo tu objetivo.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Dominadas</h2>
          <p>
            El ejercicio de calistenia más famoso y, para muchos, el mejor
            ejercicio para desarrollar fuerza en la espalda y varios músculos
            del cuerpo. Las dominadas son un ejercicio con peso corporal que
            también trabaja los músculos estabilizadores del core. Al ser un
            ejercicio compuesto, con peso corporal, puede resultar muy difícil e
            incluso imposible para principiantes, sumado a su exigencia
            calórica. Esto hace que este ejercicio no sea el más recomendado
            para ganar masa muscular, pero no quita que sea uno de los mejores
            ejercicios para hipertrofia y posiblemente el mejor ejercicio para
            la espalda en cuanto a fuerza y control se refiere.
          </p>
          <img src="ejercicios-img/dominadas.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la polea a la altura deseada dependiendo en cual parte del
            pecho quieras enforcarte<br />
            2. Párate con los pies separados y agarra los mangos de la polea con
            los brazos extendidos.<br />
            3. Lleva los brazos hacia adelante y cruza los mangos frente al
            cuerpo, manteniendo una ligera flexión en los codos.<br />
            4. Contrae los músculos del pecho en la posición final.<br />
            5. Regresa los brazos a la posición inicial de manera controlada.<br />
            <br />
            <i class="bi bi-info-circle"></i>Recomiendo no cargarle demasiado
            peso y hacer alrededor de 12 repeticiones para un mejor estímulo y
            preferiblemente dejarlo para el final de tu rutina de pecho
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Remo con Polea</h2>
          <p>
            Como su nombre indica, es una versión de remo realizada en polea. Es
            una muy buena alternativa al remo con barra, con la diferencia que
            este último se considera mejor por usar pesos libres, que según la
            ciencia es mejor para hipertrofiar. Esto no quita que sea un grande
            ejercicio para la espalda, y una muy buena alternativa si no te
            sientes cómodo, no puedes hacer remo o directamente no te gusta el
            remo con barra por alguna razón. Recalco que hacer este ejercicio no
            mermara tus ganancias ni mucho menos, es un gran ejercicio para el
            desarrollo de tu caparazón.
          </p>
          <img src="ejercicios-img/remo-con-polea.png" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate en el banco con los pies apoyados y agarra la barra o
            las asas con agarre prono o neutro (el que se te acomode más).<br />
            2. Tira de la barra o las asas hacia tu torso, manteniendo los codos
            cerca del cuerpo.<br />
            3. Contrae los músculos de la espalda mientras realizas el
            movimiento.<br />
            4. Mantén la contracción por un segundo en la posición final.<br />
            5. Extiende los brazos lentamente para volver a la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i>Recomiendo usar un peso que te
            permita mantener una técnica prolija en un rango de 8 a 12
            repeticiones. Es muy buena idea hacer dropset con este ejercicio
            gracias al rapido cambio de peso que posibilitan las poleas, pero
            recuerda no abusar si todavía tienes que hacer más ejercicios que
            recluten la espalda en la sesión.<br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Pull Over en Polea</h2>
          <p>
            El pull over tradicional con mancuerna, es un ejercicio para
            dorsales, que también usa los pectorales, los triceps y los hombros,
            en otras palabras un ejercicio totalmente ineficiente y poco
            productivo siendo esto una lista de los mejores ejercicios de
            dorsales. Por eso te recomendamos que optes mil veces por un pull
            over en polea, el cual sigue reclutando músculos de empuje pero en
            menor medida y de forma mucho más segura. Este ejercicio se hizo un
            lugar en esta lista debido a su amplio rango de movimiento para el
            dorsal que lo lleva a ofrecer un muy buen aporte al desarrollo de
            este músculo.
          </p>
          <img src="ejercicios-img/pullover.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion5')">
            Ejecución
          </button>
          <p id="ejecucion5" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta por encima de tu cabeza la altura de la polea. 2. Colócate
            de pie frente a la polea con los pies separados a la anchura de los
            hombros.<br />
            3. Agarra la barra o la cuerda con ambas manos, con los brazos
            extendidos hacia arriba. <br />
            4. Inclínate ligeramente hacia adelante desde las caderas y flexiona
            las rodillas. <br />
            5.Baja la barra o la cuerda hacia abajo y hacia atrás, llevándola
            hacia tus muslos. <br />
            6. Detén el movimiento cuando sientas un estiramiento en los
            músculos del pecho y la espalda.<br />
            7. Contrae los músculos del pecho y la espalda para llevar la barra
            o la cuerda de vuelta a la posición inicial. <br>
            <br />
            <i class="bi bi-info-circle"></i>Recomiendo hacer este ejercicio
            como calentamiento o al final de tu rutina de espalda, en un rango
            de 10 a 15 repeticiones de forma controlada.
          </p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
