<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> GLÚTEOS
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            El glúteo es un grupo muscular ubicado en la parte posterior de la
            pelvis y la parte superior del muslo, compuesto por el glúteo mayor,
            medio y menor. Estos músculos son vitales para movimientos
            funcionales como caminar, correr y saltar, así como para mantener la
            estabilidad del cuerpo. Los glúteos se trabajan mucho en ejercicios
            como Sentadilla Libre, Zancadas y Peso Muerto, por lo que puedes
            optar por no realizar ejercicios específicos para este grupo
            muscular, Si quieres agregar uno decantate por el primero de la
            lista el cual es el mejor por lejos.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Hip Thrust</h2>
          <p>
            Este ejercicio dirigido principalmente a fortalecer los glúteos y
            los músculos de la cadena posterior, incluyendo los isquiotibiales y
            la espalda baja. El Hip Thrust es lo mejor ejercicio que hay para
            fortalecer y desarrollar los glúteos, si quieres agregar un
            ejercicio para este músculo agrega este sin dudar.
          </p>
          <img src="ejercicios-img/hipthrust.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate en el suelo frente a un banco con una barra acolchada
            colocada sobre tus caderas.<br />
            2. Apoya tus omóplatos en el banco y coloca tus pies planos en el
            suelo, cerca de tus glúteos.<br />
            3. Empuja hacia arriba a través de los talones hasta que tus caderas
            estén completamente extendidas.<br />
            4. Contrae los glúteos en la posición más alta del movimiento.<br />
            5. Baja las caderas de manera controlada de vuelta a la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo acomodar este ejercicio
            en tu rutina dependiendo tus prioridades. Hazlo en un rango de 8 a
            12 repeticiones.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Empuje de Cadera con Polea</h2>
          <p>
            También conocido como empuje de cadera con cable, este ejercicio
            excelente para fortalecer los glúteos, los isquiotibiales y los
            músculos de la cadena posterior. Si bien el anterior ejercicio es
            mucho mejor ya utiliza un movimiento muy similar pero permitiendo
            cargar pesos libres. Este ejercicio es una buena alternativa al Hip
            Thrust si, por ejemplo, dejaste los glúteos para el final de tu rutina
            de de tren inferior y ya no tienes suficiente energía.
          </p>
          <img src="ejercicios-img/empuje-de-cadera.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la altura de la polea en la máquina a la altura de tu
            pelvis.<br />
            2. Párate frente a la máquina con los pies separados a la anchura de
            las caderas.<br />
            3. Sujeta la correa o asa del cable con ambas manos.<br />
            4. Contrae los glúteos y los abdominales.<br />
            5. Empuja las caderas hacia adelante y hacia arriba, manteniendo las
            piernas rectas.<br />
            6. Contrae fuertemente los glúteos en la posición más alta del
            movimiento.<br />
            7. Regresa las caderas a la posición inicial de manera controlada.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            final de tu rutina de pierna como alternativa del hip thrust.
            Realiza un rango de 8 a 12 repeticiones.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Patada de Glúteo</h2>
          <p>
            Un ejercicio efectivo para trabajar los músculos glúteos,
            específicamente el glúteo mayor. Sin mucho que agregar, haz este
            ejercicio solamente si tienes como prioridad objetivo el desarrollo
            tus glúteos, ya que con el Hip Thrust sumado a los ejercicios para
            pierna mencionados en el encabezado es más que suficiente.
          </p>
          <img src="ejercicios-img/Patada-de-gluteos-con-polea.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la polea en la posición más baja y coloca un accesorio de
            tobillo en tu pierna.<br />
            2. Párate frente a la máquina de polea con una ligera flexión en la
            rodilla de la pierna de apoyo.<br />
            3. Engancha el accesorio de tobillo en tu pierna y mantén el tronco
            erguido.<br />
            4. Contrae los glúteos y empuja la pierna hacia atrás y hacia arriba
            en un movimiento de patada.<br />
            5. Mantén la contracción en la posición más alta del movimiento.<br />
            6. Regresa la pierna a la posición inicial de manera controlada.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo realizar en un rango de
            8 a 12 repeticiones.
          </p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
