<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> ISQUIOTIBIALES
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            Los isquiotibiales son un grupo muscular ubicado en la parte
            posterior del muslo y están formados por tres músculos principales:
            el bíceps femoral, el semitendinoso y el semimembranoso. Los
            isquiotibiales son importantes para la estabilidad de la pelvis y la
            cadera, así como para la flexión de la rodilla y la extensión de la
            cadera. También son cruciales para actividades como correr, saltar y
            levantar objetos del suelo. Es muy importante darle la misma
            importancia que le damos al cuádriceps a este ejercicio.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Peso Muerto Rumano</h2>
          <p>
            Este es un ejercicio avanzado que requiere una buena técnica para
            evitar lesiones. Recuerda siempre aprovechar al entrenador que
            tengas en tu gimnasio para que te indique como realizar los
            ejercicios de forma adecuada, sobre todo en ejercicios de este tipo.
            Habiendo dejado claro todo estoen claro los puntos anteriores, el
            Peso Muerto Rumano es una variante del peso muerto enfocada en los
            isquiotibiales, y trabaja bastante los glúteos también, por eso es
            el primero en esta lista y el mejor.
          </p>
          <img src="ejercicios-img/pesomuerto-rumano.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. De pie con los pies separados a la anchura de las caderas, sostén
            una barra con pesas frente a tus muslos, con las manos separadas a
            una distancia ligeramente mayor que la anchura de los hombros y un
            agarre pronado.<br />
            2. Mantén la espalda recta, los hombros hacia atrás y el pecho
            levantado. Las rodillas deben estar ligeramente flexionadas pero no
            bloqueadas.<br />
            3. Inclina ligeramente el torso hacia adelante y empuja las caderas
            hacia atrás mientras deslizas la barra por los muslos. Baja el torso
            hacia el suelo hasta sentir un estiramiento en los isquiotibiales o
            hasta que el torso esté paralelo al suelo, manteniendo la espalda
            recta en todo momento.<br />
            4. Desde la posición más baja, contrae los glúteos y los
            isquiotibiales para volver a la posición inicial, manteniendo la
            barra cerca del cuerpo.<br />
            5. Una vez de pie, lleva las caderas hacia adelante y contrae los
            glúteos en la parte superior del movimiento. Mantén la espalda recta
            y los hombros hacia atrás.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo que hagas este
            ejercicio después de hacer sentadilla libre, y si vas a hacer peso
            muerto convencional no lo hagas directamente. Realizar en un rango
            de 8 a 12 repeticiones.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl Femoral Sentado</h2>
          <p>
            Este ejercicio se hizo con el segundo lugar de la lista debido a los
            beneficios que proporciona, una aspecto negativo que presenta es que
            no es muy común la máquina necesaria para realizar el ejercicio. Sin
            embargo el Curl Femoral Sentado presenta numerosos beneficios, como
            por ejemplo estímulo en la zona más grande del isquiotibial, lo que
            representa mayor crecimiento del músculo en cuestión, aportanto
            mejores resultados visuales que la variante en horizonal del
            ejercicio (Curl Femoral Acostado). Sería como la contraparte del
            ejercicio "Extensión de Cuádriceps".
          </p>
          <img src="ejercicios-img/curl-femoral-sentado.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate en el banco de la máquina con la espalda recta y los
            pies debajo de las almohadillas acolchadas, ajustadas justo por
            encima de los tobillos.<br />
            2. Agarra las asas de la máquina para mantener la estabilidad.<br />
            3. Flexiona las rodillas para levantar las almohadillas hacia tus
            glúteos, manteniendo la parte superior del cuerpo erguida.
            <br />
            4. Mantén la contracción en los isquiotibiales durante un segundo en
            la posición más alta.<br />
            5. Baja lentamente las almohadillas hacia la posición inicial,
            extendiendo completamente las rodillas pero sin bloquearlas.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            final de tu rutina de isquiotibial o de pierna en general. Hazlo de
            un rango de 8 a 12 repeticiones.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Peso Muerto Convencional</h2>
          <p>
            Este ejercicio es de los más populares y beneficiosos para el cuerpo
            y es el ejercicio que más peso permite manejar. Si bien trabaja
            principalmente los isquiotibiales también recluta en gran medida
            varios otros grupos músculares, por eso queda tercera en esta lista.
            El Peso Muerto Convencional es de los ejercicios más efectivos para
            trabajar la cadena posterior del cuerpo, incluyendo los músculos de
            la espalda baja, los glúteos, los isquiotibiales, los antebrazos,
            los dorsales y los erectores de la columna vertebral.
          </p>
          <img src="ejercicios-img/pesomuerto.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Coloca la barra en el suelo frente a ti, con los pies separados a
            la anchura de las caderas y los dedos de los pies ligeramente hacia
            afuera. <br />
            2. Agarra la barra con un agarre mixto o doble pronado, separando
            las manos a una distancia ligeramente mayor que la anchura de los
            hombros.<br />
            3. Mantén la espalda recta y los hombros hacia atrás mientras te
            inclinas para agarrar la barra, manteniendo las rodillas
            dobladas.<br />
            4. Extiende las rodillas y las caderas simultáneamente para levantar
            la barra del suelo, manteniendo la barra cerca del cuerpo y la
            espalda en posición neutral.<br />
            5. Contrae los glúteos en la parte superior del movimiento, llevando
            las caderas hacia adelante y manteniendo los hombros hacia atrás.<br />
            6. Baja la barra de manera controlada, doblando las caderas y las
            rodillas mientras mantienes la espalda recta.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            principio de tu rutina siempre, lo recomendable es ir alternandolo
            con sentadilla libre entre tus dos días de pierna semanales, por
            ejemplo, un día empieza con peso muerto y el otro día con Sentadilla
            Libre. No es recomendable hacer estos ejercicios en el mismo día por
            lo que te aconsejo hacer Sentadilla Hack el día que hagas Peso
            Muerto Convencional y Peso Muerto Rumano el día que hagas Sentadilla
            Libre. Volviendo al tema, realiza este ejercicio en un rango de 6 a
            8 repeticiones a máximo peso, si eres principiante con este
            ejercicio realiza de a 15 repeticiones con poco peso para acoplarte
            a la técnica.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Curl Femoral Acostado</h2>
          <p>
            Este es un ejercicio para los isquiotibiales bastante popular, a
            diferencia del "Curl Femoral Sentado" este ejercicio se hace con una
            máquina que suele estar presente en mayor cantidad de gimnasios. El
            Curl Femoral Acostado es un gran ejercicio, que trabaja muy bien el
            músculo en cuestión. Su relativa "inferioridad" respecto a su
            contraparte, Sentado, es mínima en comparación. Es un ejercicio muy
            útil para calentar los femorales antes de hacer ejercicios de
            Sentadilla, te recomiendo encarecidamente probrar hacer 2 series
            como calentamiento antes de realizar Sentadilla Libre, notarás
            buenos resultados.
          </p>
          <img src="ejercicios-img/curl-femoral.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Acuéstate boca abajo en un banco para piernas, con las caderas al
            borde y los tobillos debajo de los rodillos acolchados.<br />
            2. Sujeta los agarres del banco para mantener la estabilidad.<br />
            3. Mantén las piernas extendidas y los pies flexionados.<br />
            4. Flexiona las rodillas para levantar los rodillos hacia los
            glúteos, concentrándote en contraer los músculos isquiotibiales.<br />
            5. Levanta los rodillos hasta sentir una contracción fuerte en los
            isquiotibiales.<br />
            6. Baja los rodillos de manera controlada hacia la posición
            inicial.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            final de tu rutina de isquiotibiales o de pierna en general
            dependiendo tus prioridades. Realizar en un rango de 10 a 12
            repeticiones.
          </p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
