<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> PECTORALES
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            Los pectorales son un grupo muscular esencial para movimientos de
            empuje y estabilización del hombro. Compuestos por el pectoral mayor
            y menor, están ubicados en el pecho y se extienden desde el esternón
            y las costillas hasta la parte superior del húmero. Estos músculos
            permiten acciones como empujar objetos hacia adelante y mantener la
            estabilidad de los hombros durante movimientos de los brazos.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Press Plano con Barra</h2>
          <p>
            El favorito de muchos y un ejercicio primordial para desarrollar los
            pectorales y los músculos de empuje en general. Permite levantar
            grandes cargas, facilitando la progresión y la sobrecarga gradual,
            lo que lo convierte en uno de los mejores ejercicios para ganar
            fuerza. Si bien al ser un ejercicio compuesto hace que la
            hipertrofia se distribuya entre varios músculos, no debe ser pasado
            por alto para desarrollar más fuerte y levantar más peso en los
            otros ejercicios para pectoral.
          </p>

          <img src="ejercicios-img/press-banca.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Acuéstate en un banco plano, agarra la barra con las manos más
            anchas que los hombros. <br />
            2. Levanta la barra del soporte y baja lentamente hacia el pecho.
            <br />
            3. Empuja la barra hacia arriba hasta que los brazos estén casi
            completamente extendidos. <br />
            4. Controla el movimiento en todo momento. <br />
            5. Respira adecuadamente: inhala al bajar, exhala al subir. <br />
            6. Mantén una técnica correcta y aumenta el peso gradualmente.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            comienzo de tu rutina de pecho o empuje ya que demanda muchos
            recursos físicos y para poder ponerle la mayor cantidad de peso
            posible, pero siempre intenta usar pesos que te dejen hacer mínimo 4
            repeticiones para evitar lesiones.
            <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Press Inclinado con Mancuernas</h2>
          <p>
            El press inclinado con mancuernas es uno de los mejores ejercicios
            para desarrollar unos pectorales fuertes, ya que aísla los músculos
            pectorales de manera más efectiva que el press plano. El uso de
            mancuernas ofrece un mayor rango de movimiento y permite aplicar la
            funcion de "contraer" del musculo en cuestion su hipertrofia, aunque
            esto limita un poco la sobrecarga. Si bien este ejercicio aísla los
            músculos pectorales de manera más efectiva que el press plano, no
            significa que este último deba o pueda ser reemplazado directamente
            ya que ambos ejercicios se complementan perfectamente para lograr un
            desarrollo equilibrado de fuerza e hipertrofia en los pectorales.
          </p>
          <img
            src="ejercicios-img/press-inclinado-con-mancuernas.jpeg"
            alt=""
          />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Siéntate en un banco inclinado con las mancuernas sobre tus
            muslos. <br />
            2. Acuéstate sobre el banco con las mancuernas sobre el pecho, los
            codos ligeramente flexionados. <br />
            3. Baja las mancuernas hacia los lados del pecho, manteniendo los
            codos en ángulo. <br />
            4. Empuja las mancuernas hacia arriba, extendiendo los brazos.
            <br />
            5. Mantén una breve pausa en la posición final antes de bajarlas de
            nuevo. <br />
            6. Controla la respiración: inhala al bajar, exhala al subir. <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo seleccionar un peso y
            un rango repeticiones dependiendo del orden en que hagas este
            ejercicio en tu rutina de pecho, por ejemplo si lo haces despues del
            press plano, usa un peso que te deje hacer repeticiones en un rango
            de 12 y si quieres priorizar y hacer primero este ejercicio subele
            el peso y haz entre 6 y 8 repeticiones. Este ejercicio trabaja
            bastante los Deltoides Anterioires así que hacerlo antes o despues
            de un press militar no es muy recomendable si no eres un culturista
            profesional. <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Aperturas</h2>
          <p>
            El estimulo a los músculo pectoral que ofrecen las aperturas es
            clave para un buen desarrollo, ya que al efectuar este ejercicio,
            tanto en la fase concéntrica (acercamiento de los brazos) como en la
            fase excéntrica (alejamiento de los brazos) se realiza una función
            del músculo clave la cual no es muy efectuada en los ejercicios
            anteriores(sobre todo en el press plano con barra). Recomiendo
            realizar en máquina o con polea, preferiblemente en polea ya que
            permite trabajar el pectoral desde diferentes angulos y asi
            estimular todas las parte del pectoral.
          </p>
          <img src="ejercicios-img/crossover.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la polea a la altura deseada dependiendo en cual parte del
            pecho quieras enforcarte<br />
            2. Párate con los pies separados y agarra los mangos de la polea con
            los brazos extendidos.<br />
            3. Lleva los brazos hacia adelante y cruza los mangos frente al
            cuerpo, manteniendo una ligera flexión en los codos.<br />
            4. Contrae los músculos del pecho en la posición final.<br />
            5. Regresa los brazos a la posición inicial de manera controlada.<br />
            <br />
            <i class="bi bi-info-circle"></i>Recomiendo no cargarle demasiado
            peso y hacer alrededor de 12 repeticiones para un mejor estímulo y
            preferiblemente dejarlo para el final de tu rutina de pecho o hacer
            un par de series controladas como calentamiento para tu rutina de
            empuje o pecho. <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Flexiones</h2>
          <p>
            Uno de los principales ejercicios en la calistenia y una excelente
            forma de trabajar los pectorales, así como los músculos de empuje en
            general, como los deltoides y los tríceps. Son un ejercicio versátil
            que se puede realizar en cualquier lugar y sin necesidad de
            equipamiento previo. Además, tienen una amplia gama de variaciones
            que permiten enfocarse en diferentes grupos musculares o aumentar la
            dificultad.
          </p>
          <img src="ejercicios-img/flexiones.jpeg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            <i class="bi bi-info-circle"></i>Recomiendo que si estas yendo al
            gym o tienes acceso a un banco en donde hacer press hagas este
            ejercicio solo como calentamiento. Usar este ejercicio como dropset
            en press de banca puede fatigar los músculos y reducir la carga
            máxima en las series posteriores. Si optas por hacer eso, es
            recomendable hacer el dropset en la última serie y si no tienes
            planeado seguir entrenando los músculos de empuje después. Y si no
            tienes acceso al gimnasio trata de hacer una variante que te exija
            lo suficiente. <br />
            PASOS: <br />
            1. Comienza en posición de plancha alta, manos ligeramente más
            anchas que los hombros.<br />
            2. Mantén el cuerpo alineado desde la cabeza hasta los talones.<br />
            3. Flexiona los codos y baja el cuerpo controladamente, manteniendo
            la alineación.<br />
            4. Baja hasta que el pecho esté cerca del suelo.<br />
            5. Empuja hacia arriba, extendiendo los brazos completamente.<br />
          </p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
