<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WikiFit</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- css style -->
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../ejercicios.css" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg" id="ejercicios-navbar">
      <!-- Tabla de Navegación -->
    </nav>

    <div class="contenido">
      <div class="row">
        <div class="col">
          <h1>
            <i class="bi bi-chevron-double-right"></i> TRÍCEPS
            <i class="bi bi-chevron-double-left"></i>
          </h1>
          <p class="head">
            Los tríceps son un grupo de músculos ubicados en la parte posterior
            del brazo, compuestos principalmente por tres cabezas: lateral,
            medial y larga. Estos músculos son responsables de la extensión del
            codo, es decir, enderezar el brazo. Este músculo cubre 2 tercios del
            tamaño del brazo aproximadamente, por lo que es muy importante
            desarrollarlo para tener unos brazos grandes.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Fondos</h2>
          <p>
            Uno de los mejores ejercicios de calistenia y el mejor para tener
            unos tríceps grandes y fuertes, los fondos es un ejercicio exigente
            que consiste en levantar y bajar tu cuerpo en barras paralelas o
            alguna superficie elevada con la suficiente separación y altura. Al
            ser un ejercicio compuesto te recomiendo incluirlo de forma
            inteligente en tus rutinas de empuje y siempre al principio de tu
            rutina de tríceps. (Si tienes una máquina de fondos en tu gimnasio
            te la recomiendo encarecidamente)
          </p>

          <img src="ejercicios-img/fondos.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion1')">
            Ejecución
          </button>
          <p id="ejecucion1" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Posición inicial entre barras paralelas o superficie elevada, con
            brazos extendidos y cuerpo alineado. <br />
            2. Desciende flexionando los codos hasta que los hombros estén al
            nivel o ligeramente por debajo de los codos.
            <br />
            3. Mantén el cuerpo recto y evita arquear la espalda. <br />
            4. Empuja hacia arriba extendiendo los codos y vuelve a la posición
            inicial. <br />
            5. Controla el movimiento y la respiración durante todo el
            ejercicio. <br />
            6. Ajusta el número de repeticiones según tu nivel de habilidad y
            condición física.
            <br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo que si no puedes hacer
            fondos, y tu gimnasio no dispone de una máquina para fondos,
            reemplazes este ejercicio por "Press Banca con Agarre Cerrado" el
            cual es el 2do mejor ejercicio compuesto para tríceps, hasta que
            obtengas la fuerza suficiente para realizar el fondo, tambien puedes
            utilizar bandas para quitarle peso al ejercicio hasta acostumbrarte.
            Recomiendo sobrecargar el ejercicio si puedes hacer mas de 12
            repeticiones explosivas, a un peso que te permita hacer en un rango
            de 6 y 8 repeticiones. Haz este ejercicio al principio de tu rutina
            de tríceps y ve alternandolo como ejercicio principal con el press
            plano con barra. Si lo incluyes en una rutina de empuje te
            recomiendo hacerlo despues del press banca convencional.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Press Francés</h2>
          <p>
            Uno de los mejores ejercicios para desarrollar el tríceps debido a
            su amplio rango de movimiento y facilidad de sobrecarga progresiva
            sumado a que puede hacerlo cualquier persona sin importar su fuerza,
            el Press Francés es clave en tu rutina de tríceps para poder abarcar
            todas las cabezas del tríceps junto con unos fondos o un press banca
            con agarre cerrado y tener unos brazos grandes.
          </p>
          <img src="ejercicios-img/press-frances.webp" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion2')">
            Ejecución
          </button>
          <p id="ejecucion2" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Acuéstate en un banco plano y sostén una barra con un agarre
            estrecho, con los brazos extendidos verticalmente sobre el pecho.
            <br />
            2. Dobla lentamente los codos y baja la barra hacia la frente,
            manteniendo los codos apuntando hacia adelante y los antebrazos
            perpendiculares al suelo. <br />
            3. Desciende la barra hasta que los codos estén aproximadamente a 90
            grados. <br />
            4. Desde la posición baja, extiende los codos y eleva la barra de
            nuevo a la posición inicial.
            <br />
            5. Controla el movimiento en todo momento y respira adecuadamente.
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo incluir este ejercicio
            (o su variante la "extension de codo trasnuca en polea") como
            complemento de los Fondos o Press con agarre cerrado en su defecto.
            No trates de levantar mucho peso en este ejercicio al principio, ya
            que tu cuerpo tarda en adaptarse al movimiento, y puede ser muy
            incomodo para los codos al principio.<br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Extensión de Codo en polea</h2>
          <p>
            Este ejercicio es uno de los más populares para trabajar los
            tríceps. Yo no lo veo como un ejercicio obligatorio para el
            desarrollo de los tríceps ni mucho menos debido a la superioridad de
            los ejercicios anteriores vistos en esta lista. Sin embargo sigue
            siendo (si se realiza bien) uno de los mejores ejercicios para los
            tríceps debido a su seguridad, facilidad y capacidad de sobrecarga.
          </p>
          <img src="ejercicios-img/ext-triceps.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion3')">
            Ejecución
          </button>
          <p id="ejecucion3" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Ajusta la altura de la polea y agarra la barra o cuerda.<br />
            2. Mantén los codos cerca del cuerpo y los brazos flexionados.<br />
            3. Extiende los brazos hacia abajo, contrayendo los tríceps.<br />
            4. Flexiona los codos para volver a la posición inicial.<br />
            5. Completa el número deseado de repeticiones manteniendo una buena
            técnica y control del movimiento.<br />
            <br />
            <i class="bi bi-info-circle"></i>Recomiendo, como ya dije, dejar
            este ejercicio para el final de tu rutina de tríceps para terminar
            de romper las fibras el músculo, haciendo por ejemplo un dropset, o
            bien, usarlo como calentamiento antes de hacer Fondos por ejemplo. Y
            también puede ser una gran opción para trabajar los tríceps si ya
            haz desgastado mucho este músculo en tu rutina de empuje haciendo
            press banca o press militar por ejemplo, pero intenta hacerlo
            después de un press francés dejando este último como prioridad.
            <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Press Banca con Agarre Cerrado</h2>
          <p>
            Una variación del press banca plano pero enfocado en los tríceps y
            los trabaja de forma compuesta. Un gran ejercicio para desarrollar
            los tríceps sin poner en riesgo tus codos, debido a su "comodidad",
            no es obligatorio para el desarrollo del músculo pero puedes hacerlo
            como reemplazo de los fondos si es que no puedes o no te gustan los
            fondos por alguna razón (una de esas razones puede ser que prefieres
            evitar los fondos por su gran uso de calorías).
          </p>
          <img src="ejercicios-img/press-cerrado.jpg" alt="" />
          <br />
          <button class="btn" onclick="toggleVisibility('ejecucion4')">
            Ejecución
          </button>
          <p id="ejecucion4" class="ejecucion" style="display: none">
            PASOS: <br />
            1. Acuéstate en un banco plano con los pies en el suelo y la barra
            sobre el pecho.<br />
            2. Agarra la barra con las manos más cerca de lo habitual, con un
            agarre cerrado.<br />
            3. Baja la barra lentamente hacia el pecho, manteniendo los codos
            cerca del torso.<br />
            4.Empuja la barra hacia arriba de manera controlada, extendiendo los
            codos.<br />
            5. Mantén la espalda apoyada en el banco y los pies en el suelo en
            todo momento.<br />
            <br />
            <i class="bi bi-info-circle"></i> Recomiendo hacer este ejercicio al
            princpio de tu rutina de tríceps como remplazo de lo fondos. Si ya
            haz hecho press banca y press militar en el mismo día y estas muy
            fatigado puedes saltearlo y hacer los otros ejercicios de tríceps de
            la lista.<br />
          </p>
        </div>
      </div>
    </div>

    <footer
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 gx-0"
      id="footer"
    >
      <!-- Footer -->
    </footer>

    <script src="ejecucion.js"></script>
    <script src="app.js"></script>
    <script src="../../../components.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
