<div class="container-fluid pt-4 pb-3">
  <div class="row">
    <div class="col-lg-4 mt-3">
      <h4>Contacto</h4>
      <hr>
      <p>e-mail: fideljlopez9@gmail.com</p>
      <p>Teléfono: +54 9 2657 30-4838</p>
    </div>
    <div class="col-lg-4">
      <h2>WikiFit.</h2>
      <img src="../../../img/logo.png" alt="Mancuerna" width="130px" />
      <br>
      <span id="año">©2024</span>
    </div>
    <div class="col-lg-4 mt-3">
     <h4>Redes</h4>
     <hr>
     <i class="bi bi-instagram"></i>
     <i class="bi bi-github"></i>
     <i class="bi bi-linkedin"></i>
    </div>
  </div>
</div>