<div
        class="col d-flex justify-content-center align-items-center flex-column mb-5">
        <h2>WikiFit.</h2>
        <img src="../../../img/logo.png" alt="Mancuerna" width="130px" />
        <p id="año">©2024</p>
      </div>
      <div class="col d-flex justify-content-center flex-column mb-5">
        <h2 id="integrantes-grupo">
          GRUPO 30 <br />
          Integrantes:
        </h2>
      </div>
      <div class="col mb-5">
        <p class="nombre">
          Lopez <br />
          Joaquín
        </p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-instagram"></i>
              Instagram</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-linkedin"></i>
              Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-github"></i>
              GitHub</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-whatsapp"></i>
              2657304838</a>
          </li>
        </ul>
      </div>
      <div class="col mb-5">
        <p class="nombre">
          Jaime <br />
          Luana
        </p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-instagram"></i>
              Instagram</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-linkedin"></i>
              Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-github"></i>
              GitHub</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-whatsapp"></i>
              2657304838</a>
          </li>
        </ul>
      </div>
      <div class="col mb-5">
        <p class="nombre">
          Amigo <br />
          María
        </p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-instagram"></i>
              Instagram</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-linkedin"></i>
              Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-github"></i>
              GitHub</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-whatsapp"></i>
              2657304838</a>
          </li>
        </ul>
      </div>
      <div class="col mb-5">
        <p class="nombre">
          Cortebani <br />
          Lucas
        </p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-instagram"></i>
              Instagram</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-linkedin"></i>
              Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-github"></i>
              GitHub</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link p-0"><i class="bi bi-whatsapp"></i>
              2657304838</a>
          </li>
        </ul>
      </div>