<div class="col">
  <h2>Guía de hipertrofia</h2>
  <div class="seccion">
    <p>
      Descubre como optimizar tu entrenamiento en el gimnasio con esta guía de
      hipertrofia. En donde encontrarás recomendaciones sobre: el volumen de
      entrenamiento adecuado, el rango óptimo de series y repeticiones, la
      frecuencia de entrenamiento por grupo muscular y los períodos de descanso
      necesarios. Además, exploraremos la importancia de la ejecución controlada
      de los ejercicios para maximizar tus resultados.
    </p>
    <div class="mas">
      <a href="../components/guia/guia.html" class="btn">Más Información</a>
    </div>
  </div>
</div>
