<h2>Ejercicios</h2>
<h3>Seleccione grupo muscular:</h3>
<br>
<div id="botones-musculos">
  <a href="../../../components/ejercicios/musculos/pectorales.html" class="btn">Pectorales</a>
  <a href="../../../components/ejercicios/musculos/triceps.html" class="btn">Tríceps</a>
  <a href="../../../components/ejercicios/musculos/delt_ant.html" class="btn">Delt. Anterior</a>
  <br>
  <a href="../../../components/ejercicios/musculos/dorsales.html" class="btn">Dorsales</a>
  <a href="../../../components/ejercicios/musculos/trapecios.html" class="btn">Trapecios</a>
  <a href="../../../components/ejercicios/musculos/delt_post.html" class="btn">Delt.
    Posterior</a>
  <br>
  <a href="../../../components/ejercicios/musculos/biceps.html" class="btn">Bíceps</a>
  <a href="../../../components/ejercicios/musculos/antebrazos.html" class="btn">Antebrazos</a>
  <a href="../../../components/ejercicios/musculos/delt_lat.html" class="btn">Delt. Lateral</a>
  <br>
  <a href="../../../components/ejercicios/musculos/gluteos.html" class="btn">Glúteos</a>
  <a href="../../../components/ejercicios/musculos/cuadriceps.html" class="btn">Cuádriceps</a>
  <a href="../../../components/ejercicios/musculos/isquios.html"
    class="btn">Isquiotibiales</a>
  <br>
  <a href="../../../components/ejercicios/musculos/abductores.html" class="btn">Abductores</a>
  <a href="../../../components/ejercicios/musculos/gemelos.html" class="btn">Gemelos</a>
  <a href="../../../components/ejercicios/musculos/abdominales.html"
    class="btn">Abdominales</a>
</div>