<h2>Nutrición</h2>
<div class="seccion">
  <p>
    Descubre como tu alimentación afecta directamente tus resultados en el
    gimnasio. En esta guía, encontrarás información clave sobre cómo optimizar
    tu dieta para promover el crecimiento muscular, incluyendo recomendaciones
    sobre el consumo adecuado de proteínas, carbohidratos y grasas, así como
    consejos sobre la planificación de comidas y la suplementación.
  </p>
  <div class="mas">
    <a href="../components/nutricion/nutricion.html" class="btn"
      >Más Información</a
    >
  </div>
</div>
